.checkout-container {
  max-width: 70%;
  margin: 0 auto;

  .checkout-table {
    width: 100%;
    border-collapse: collapse;

    thead {
      border-bottom: 1px solid #a7a7a7;
    }

    tr {
      &:not(:last-child) {
        border-bottom: 1px solid #a7a7a7;
      }
    }

    th {
      font-size: 18px;
      font-weight: 600;
      padding: 20px 0;
      border-collapse: collapse;
    }

    td {
      padding: 10px 0;
      text-align: center;
    }

    .image-container {
      width: 100px;

      img {
        width: 100%;
      }
    }
  }

  button {
    width: 35px;
    height: 35px;
    background: none;
    border: 1px solid transparent;
    outline: none;
    cursor: pointer;

    &:hover {
      svg {
        fill: #a7a7a7;
      }
    }

    &:focus {
      border: 1px dashed #a7a7a7;
      border-radius: 3px;
    }

    &:active {
      svg {
        transform: translateY(2px);
      }
    }

    svg {
      width: 100%;
      height: 100%;
      font-size: 240px;
    }
  }

  .quantity {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      margin: 0 5px;
    }
  }
}
