.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .logo-container {
    width: 70px;
    padding: 15px 25px;
  }

  .nav {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .nav-list {
    display: flex;
    align-items: center;
  }

  .nav-item {
    margin-right: 10px;
  }

  .nav-link {
    position: relative;
    font-size: 18px;
    padding: 10px 15px;
    font-weight: 500;
    text-transform: uppercase;
    color: #505050;
  }
}
